<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geruisi.dao.DeliveryMapper">
  <resultMap id="BaseResultMap" type="com.geruisi.bean.Delivery">
    <id column="d_id" jdbcType="INTEGER" property="dId" />
    <result column="d_name" jdbcType="VARCHAR" property="dName" />
    <result column="d_number" jdbcType="INTEGER" property="dNumber" />
    <result column="d_delivery" jdbcType="VARCHAR" property="dDelivery" />
    <result column="d_delivery_pus" jdbcType="VARCHAR" property="dDeliveryPus" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    d_id, d_name, d_number, d_delivery, d_delivery_pus
  </sql>
  <select id="selectByExample" parameterType="com.geruisi.bean.DeliveryExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from delivery
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from delivery
    where d_id = #{dId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from delivery
    where d_id = #{dId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.geruisi.bean.DeliveryExample">
    delete from delivery
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.geruisi.bean.Delivery">
    insert into delivery (d_id, d_name, d_number, 
      d_delivery, d_delivery_pus)
    values (#{dId,jdbcType=INTEGER}, #{dName,jdbcType=VARCHAR}, #{dNumber,jdbcType=INTEGER}, 
      #{dDelivery,jdbcType=VARCHAR}, #{dDeliveryPus,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.geruisi.bean.Delivery">
    insert into delivery
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dId != null">
        d_id,
      </if>
      <if test="dName != null">
        d_name,
      </if>
      <if test="dNumber != null">
        d_number,
      </if>
      <if test="dDelivery != null">
        d_delivery,
      </if>
      <if test="dDeliveryPus != null">
        d_delivery_pus,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dId != null">
        #{dId,jdbcType=INTEGER},
      </if>
      <if test="dName != null">
        #{dName,jdbcType=VARCHAR},
      </if>
      <if test="dNumber != null">
        #{dNumber,jdbcType=INTEGER},
      </if>
      <if test="dDelivery != null">
        #{dDelivery,jdbcType=VARCHAR},
      </if>
      <if test="dDeliveryPus != null">
        #{dDeliveryPus,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.geruisi.bean.DeliveryExample" resultType="java.lang.Long">
    select count(*) from delivery
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update delivery
    <set>
      <if test="record.dId != null">
        d_id = #{record.dId,jdbcType=INTEGER},
      </if>
      <if test="record.dName != null">
        d_name = #{record.dName,jdbcType=VARCHAR},
      </if>
      <if test="record.dNumber != null">
        d_number = #{record.dNumber,jdbcType=INTEGER},
      </if>
      <if test="record.dDelivery != null">
        d_delivery = #{record.dDelivery,jdbcType=VARCHAR},
      </if>
      <if test="record.dDeliveryPus != null">
        d_delivery_pus = #{record.dDeliveryPus,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update delivery
    set d_id = #{record.dId,jdbcType=INTEGER},
      d_name = #{record.dName,jdbcType=VARCHAR},
      d_number = #{record.dNumber,jdbcType=INTEGER},
      d_delivery = #{record.dDelivery,jdbcType=VARCHAR},
      d_delivery_pus = #{record.dDeliveryPus,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.geruisi.bean.Delivery">
    update delivery
    <set>
      <if test="dName != null">
        d_name = #{dName,jdbcType=VARCHAR},
      </if>
      <if test="dNumber != null">
        d_number = #{dNumber,jdbcType=INTEGER},
      </if>
      <if test="dDelivery != null">
        d_delivery = #{dDelivery,jdbcType=VARCHAR},
      </if>
      <if test="dDeliveryPus != null">
        d_delivery_pus = #{dDeliveryPus,jdbcType=VARCHAR},
      </if>
    </set>
    where d_id = #{dId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.geruisi.bean.Delivery">
    update delivery
    set d_name = #{dName,jdbcType=VARCHAR},
      d_number = #{dNumber,jdbcType=INTEGER},
      d_delivery = #{dDelivery,jdbcType=VARCHAR},
      d_delivery_pus = #{dDeliveryPus,jdbcType=VARCHAR}
    where d_id = #{dId,jdbcType=INTEGER}
  </update>
</mapper>