<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geruisi.dao.MerchantMapper">
  <resultMap id="BaseResultMap" type="com.geruisi.bean.Merchant">
    <id column="mer_id" jdbcType="INTEGER" property="merId" />
    <result column="mer_name" jdbcType="VARCHAR" property="merName" />
    <result column="mer_user_number" jdbcType="VARCHAR" property="merUserNumber" />
    <result column="mer_begin" jdbcType="DATE" property="merBegin" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    mer_id, mer_name, mer_user_number, mer_begin
  </sql>
  <select id="selectByExample" parameterType="com.geruisi.bean.MerchantExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from merchant
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from merchant
    where mer_id = #{merId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from merchant
    where mer_id = #{merId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.geruisi.bean.MerchantExample">
    delete from merchant
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.geruisi.bean.Merchant">
    insert into merchant (mer_id, mer_name, mer_user_number, 
      mer_begin)
    values (#{merId,jdbcType=INTEGER}, #{merName,jdbcType=VARCHAR}, #{merUserNumber,jdbcType=VARCHAR}, 
      #{merBegin,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.geruisi.bean.Merchant">
    insert into merchant
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="merId != null">
        mer_id,
      </if>
      <if test="merName != null">
        mer_name,
      </if>
      <if test="merUserNumber != null">
        mer_user_number,
      </if>
      <if test="merBegin != null">
        mer_begin,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="merId != null">
        #{merId,jdbcType=INTEGER},
      </if>
      <if test="merName != null">
        #{merName,jdbcType=VARCHAR},
      </if>
      <if test="merUserNumber != null">
        #{merUserNumber,jdbcType=VARCHAR},
      </if>
      <if test="merBegin != null">
        #{merBegin,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.geruisi.bean.MerchantExample" resultType="java.lang.Long">
    select count(*) from merchant
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update merchant
    <set>
      <if test="record.merId != null">
        mer_id = #{record.merId,jdbcType=INTEGER},
      </if>
      <if test="record.merName != null">
        mer_name = #{record.merName,jdbcType=VARCHAR},
      </if>
      <if test="record.merUserNumber != null">
        mer_user_number = #{record.merUserNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.merBegin != null">
        mer_begin = #{record.merBegin,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update merchant
    set mer_id = #{record.merId,jdbcType=INTEGER},
      mer_name = #{record.merName,jdbcType=VARCHAR},
      mer_user_number = #{record.merUserNumber,jdbcType=VARCHAR},
      mer_begin = #{record.merBegin,jdbcType=DATE}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.geruisi.bean.Merchant">
    update merchant
    <set>
      <if test="merName != null">
        mer_name = #{merName,jdbcType=VARCHAR},
      </if>
      <if test="merUserNumber != null">
        mer_user_number = #{merUserNumber,jdbcType=VARCHAR},
      </if>
      <if test="merBegin != null">
        mer_begin = #{merBegin,jdbcType=DATE},
      </if>
    </set>
    where mer_id = #{merId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.geruisi.bean.Merchant">
    update merchant
    set mer_name = #{merName,jdbcType=VARCHAR},
      mer_user_number = #{merUserNumber,jdbcType=VARCHAR},
      mer_begin = #{merBegin,jdbcType=DATE}
    where mer_id = #{merId,jdbcType=INTEGER}
  </update>
</mapper>