<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geruisi.dao.MoneyMapper">
  <resultMap id="BaseResultMap" type="com.geruisi.bean.Money">
    <id column="m_id" jdbcType="INTEGER" property="mId" />
    <result column="m_user_number" jdbcType="VARCHAR" property="mUserNumber" />
    <result column="m_money" jdbcType="INTEGER" property="mMoney" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    m_id, m_user_number, m_money
  </sql>
  
  <!-- Money selectByKey(String number); -->
  <select id="selectByKey" resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    from money
    where m_user_number = #{m_user_number,jdbcType=INTEGER}
  </select>
  <select id="selectByExample" parameterType="com.geruisi.bean.MoneyExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from money
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from money
    where m_id = #{mId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from money
    where m_id = #{mId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.geruisi.bean.MoneyExample">
    delete from money
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.geruisi.bean.Money">
    insert into money (m_id, m_user_number, m_money
      )
    values (#{mId,jdbcType=INTEGER}, #{mUserNumber,jdbcType=VARCHAR}, #{mMoney,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.geruisi.bean.Money">
    insert into money
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mId != null">
        m_id,
      </if>
      <if test="mUserNumber != null">
        m_user_number,
      </if>
      <if test="mMoney != null">
        m_money,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mId != null">
        #{mId,jdbcType=INTEGER},
      </if>
      <if test="mUserNumber != null">
        #{mUserNumber,jdbcType=VARCHAR},
      </if>
      <if test="mMoney != null">
        #{mMoney,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.geruisi.bean.MoneyExample" resultType="java.lang.Long">
    select count(*) from money
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update money
    <set>
      <if test="record.mId != null">
        m_id = #{record.mId,jdbcType=INTEGER},
      </if>
      <if test="record.mUserNumber != null">
        m_user_number = #{record.mUserNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.mMoney != null">
        m_money = #{record.mMoney,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update money
    set m_id = #{record.mId,jdbcType=INTEGER},
      m_user_number = #{record.mUserNumber,jdbcType=VARCHAR},
      m_money = #{record.mMoney,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.geruisi.bean.Money">
    update money
    <set>
      <if test="mUserNumber != null">
        m_user_number = #{mUserNumber,jdbcType=VARCHAR},
      </if>
      <if test="mMoney != null">
        m_money = #{mMoney,jdbcType=INTEGER},
      </if>
    </set>
    where m_id = #{mId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.geruisi.bean.Money">
    update money
    set m_user_number = #{mUserNumber,jdbcType=VARCHAR},
      m_money = #{mMoney,jdbcType=INTEGER}
    where m_id = #{mId,jdbcType=INTEGER}
  </update>
</mapper>